In [ ]:
'''Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n
a. 100
b. 162.89
c. 189
d. None of the above'''

n,r,p=10,5,100
A=p*(1+r/100)*n
print(A)

#Answer -D

1050.0

In [ ]:
'''
Q2. In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
a. print(string.format(a,b))
b. print(string+a+b)
c. print(string.format(b,a))
d. None of the above'''
a,b=10,20
Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(b,a))

#Answer: C

There are 20 students in the class, with 10 who play at least one sport.

In [6]:
'''Q3. In a given sample string, How do you print a double quoted string in between a
regular
string using the escape character?
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)
b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
d. None of the above.'''
#Answer]A

It goes without saying, "Time is Money", and none can deny it.

In [ ]:
'''
Q4. What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)
a. 3.3333333333
b. 3
c. 30
d. 1000'''

x = lambda a,b: a//b
x(10,3)

#Answer:b

3

In [ ]:
'''
Q5. What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
a. True
b. Smaller
c. Greater
d. None of the above'''
A=10
B=12
if A==B:
  print("Smaller")
elif(A<B):
  print("Greater")
else:
  print("True")

#Answer: C

Greater

In [ ]:
'''Q6. What will be the output of the following code?

a. [2 7 3 5 4 6]
b. TypeError
c. NameError: name 'numpy' is not defined
d. None of the above'''

import numpy as np
my_list1=[2,7,3,5,4,6]
print(my_list1)
arr1=numpy.array(my_list1,dtype=int)
print(arr1)

#Answer: c. NameError: name 'numpy' is not defined

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

In [8]:
'''Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
a. string[slice(13,8,1)]
b. string[slice(1,8,1)]
c. string[8:14]
d. string[slice(8,13,1)]'''

string="Machine Learning"
string[slice(8,13,1)]

#Answer]D

'Learn'

In [ ]:
'''Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index
of the
value 18?
a. 3
b. 2
c. 0
d. 1'''

seq=list(range(10,26,4))
print(seq)
print(seq.index(18))

#Answer: b:2

[10, 14, 18, 22]
2

In [ ]:
'''Q9. Which of the following is true with respect to the below codes?
a. num1 = num2
b. num1 ‚â† num2
c. num1 < num2
d. num1 > num2'''

num1=5**4
num2=pow(5,4)
print(num1,num2)

#Answer : a

625 625

In [ ]:
'''Q10.A Python NameError exception is raised when: -
a. Trying to access a variable which has not been defined
b. Trying to access a key in a dictionary that does not exist

c. Accessing a column with misspelled column name
d. Accessing the function from a module that has not been imported'''

#Answer]A

In [ ]:
'''Q11.What type of exception will be raised for the code given below?

a. NameError
b. KeyError
c. ValueError
d. AttributeError'''

x="string"
int(x)

#Answer: c:ValueError

ValueError: invalid literal for int() with base 10: 'string'

In [ ]:
'''Q12.A FileNotFoundError exception is raised by operating system errors when: -
a. Trying to create a file or directory which already exists
b. A file or directory is requested but does not exist in the working directory
c. Trying to run an operation without the adequate access rights
d. A directory operation, os.listdir() is requested on something which is not a
directory'''

#Answer]B

In [ ]:
'''Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
a. Complex
b. Character
c. Integer
d. Boolean'''

Z="ID-5632"
type(Z)

#Answer :b

str

In [ ]:
'''Q14.Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù
c. L= ‚Äú?‚Äù
d. All of the above'''

K= '4'
J= 'Welcome'
L= '?'

#Ans: d

str

In [ ]:
'''Q15.Choose the symbol/s that does not have the ability to convert any values to string?
a. ( )
b. ‚Äú ‚Äù
c. {}
d. #'''

#Answer]D

In [ ]:
'''Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals
respectively:

Country India China Japan Qatar France
State Delhi Beijing Tokyo Doha Marseilles
Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:'''

Country_State={"India":"Delhi","China":"Beijing","Japan":"Tokyo","Qatar":"Doha","France":"Marseilles"}

Country_State["France"]="Paris"
#or
update_dict={"France":"Paris"}
Country_State.update(update_dict)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Marseilles'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [ ]:
'''Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.
a. sum(tuple_1)
b. len(tuple_2)
c. tuple_2 + tuple_1
d. tuple_1[3] = 45'''
#Answer :D

TypeError: 'tuple' object does not support item assignment

In [ ]:
'''Q18. How many elements in the following data structure?
S={1,2,3,4,4,4,5,6}'''
S={1,2,3,4,4,4,5,6}
len(S)

#Answer :6

6

In [ ]:
'''
Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no
greater than a natural number N.'''

def pythagorean(N):
  import math
  a=0
  b=0
  l=[]
  for i in range(N):
    a=i
    b=a
    for b in range(N):
      c=math.sqrt(a**2+b**2)
      if c<=N:
        l.append((a,b))
  return l

print(pythagorean(5))

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (4, 0), (4, 1), (4, 2), (4, 3)]